body {
  margin:0;
  padding:0;
 max-width: 100%;
 overflow-x: hidden;}
    
::-webkit-scrollbar { 
    display: none; 
}
#start {
 position:fixed;
 width:80%;
 margin:0;
 padding:0;
 z-index:200;
 opacity:0;
 animation-name:fade-start;
 animation-duration:8s;
 z-index:-5;
 
}
#pearl {
    position:fixed;
    margin-top:200px;
    border-radius:50%;
    margin-left:50%;
    display:block;
    padding:70px;
    width:300px;
    z-index:100;
    animation-name:fade;
    animation-duration:10s;
    cursor:default;
}

#videocontain{
    position:relative;
    margin-top: 300px;
    margin-bottom:300px;
    left:30%;
}

#blobby {
display:block;
    max-width:1500px;
   position:absolute;
   top:1500px;
   z-index:-1;
   margin:-4px;
   cursor:default;
   
   
}
.underwater {
    margin:-5px;
    width:500px;
    padding:0;
    padding-top:400px;
    margin-bottom:100px;
}

#underwater1 {
     cursor:move;

    
}
img{
    max-width: 100%;
    margin-left:15%;
    cursor:move;
    
}
#damm {
    margin-bottom:200px;
    width:600px;
    height:auto;
    margin-left:10%;
}
#bg {
    position: absolute;
    z-index:-100;
    max-width:200%;
    width:1500px;
    height:auto;
    padding:0;
    margin:-10px;
}

#toa {
    margin-left:30%;
    margin-top:5%;
    padding-bottom: 200px;
    width:800px;
}

#still {
    width:100%;
    margin:0;
    padding:0;
    cursor:default;
}

#mun {
    width:490px;
    margin-left:48%;
    margin-top:180px;
    padding-bottom:50px;
    
}

#suit {
 margin-top:200px;
 width:400px;
}

@keyframes fade{
from {opacity:0;}
to {opacity:1;}
}

@keyframes fade-start {
0% {opacity:0;z-index:100;}
60% {opacity:1;z-index:100;}
90% {opacity:1;z-index:100;}
100% {opacity:0;z-index:100;}
}

.button {
 float:right;
 background-color:none;
 border:1px solid white;
 color:white;
 width:100px;
 margin:10px;
 margin-top:300px;
 text-align:center;
 padding:10px;
}